node_modules
.next
out

# database (jangan ikut ke-commit, ini isi konten kamu)
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm

# uploads (foto project kamu)
public/uploads/*
!public/uploads/.gitkeep

.env
.DS_Store
